<h1>New attachment</h1>

<%= render 'form' %>

<% if @attachment.album.blank? %>
	<%= link_to 'Back', trip_path(@attachment.trip_id) %>
<% else %>
	<%= link_to 'Back', trip_album_path(@attachment.trip_id, @attachment.album) %>
<% end %>
