// Place all the styles related to the Attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shift_right {
	margin-left:150px;
	margin-right:auto;
}

img.thumbnail {
	height:100px;
	max-width:200px;
}